body {
    font-family: 'Poppins', sans-serif;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(11, 8, 2), rgb(161, 40, 19));
    color: rgb(243, 248, 248);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}